body{
    background: #ffff;
    width: 100%;
    height: 100%;
}
#nav{
    height: 8.47%;
    background: #ffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#logo{
    padding-left:10px;
    padding-top:10px;
    height: 130px;
}

.line{
    font-family: Merriweather;
font-style: normal;
font-weight: normal;
font-size: 26px;
display: flex;
text-align: center;
align-items: center;
justify-content: space-around;
width:80%;
}
.fruits{
    opacity: 0.8;
}
#vision{
    text-align: center;
    padding-top: 15px;
}
.log{  
    display: flex;
    text-align: center;

}

#login{
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    background-color: #40A013;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #40A013;
    width: 160px;
    text-align: center;
    margin-left: 70%;
}
#sign{
    font-family: Merriweather;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
background-color: #40A013;
color: #000000;
border-radius: 10px;
border: 1px solid #40A013;
width: 160px;
text-align: center;
margin-left: 5%;
}
#font{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
}
h1{
font-family: Merriweather;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
}
#more{
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color:#000000
    
}
#more > p{
    background-color: #40A013;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #40A013;
    width: 180px;
    margin-left: 43%;
}
em{
    color: #40A013;
    font-style: normal;
}
#footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}
#com{
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 45px;
}
#copy{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
a:link { text-decoration: none; }
a{
    color: black;
}
a:hover{
    color: green;
    text-decoration: none;
    cursor: pointer;
}