body{
    background-color:white;
}
#header{
    color: green;
    text-align: center;
    font-size: 20px;
}
#numbers{
    color: red;
    text-align: center;
    padding: 20px 60px 20px 60px;
}
button{
    background-color: red;
    border-radius: 10px 10px 10px 10px;
    width: 100px;
}