body{
    overflow-x:auto;
    width:auto;
}
.header{
    display:flex;
    position:relative;
    justify-content:space-between;
    height:100px;
    align-items:center;
    background:white;
    box-shadow:0px 0px 4px 3px grey;

}
.header>.logo{
    
}
.header>.headertext{
    display:flex;
    width:55%;
    justify-content:space-around;
    font-size:x-large;
}
.header> .headertext > .producttext{
    color:#4F9C33;

}
.prod-del-search{
    display:flex;
    justify-content:space-between;
    padding:20px;
}
.prod-del-search>.prod-del{
    border:2px solid green;
    display:flex;
    justify-content:space-between;
    width:500px;
    height:50px;
}
.prod-del-search>.prod-del>.products{
    border:2px solid green;
    width:250px;
    text-align:center;
}
.prod-del-search>.prod-del>.delivery{
    border:2px solid green;
    width:250px;
    text-align:center;
}
.prod-del-search>.search{
    border:2px solid green;
    width:600px;
    border-radius:20px;
}
.bevprodtitle{
    display:flex;
    justify-content:center;
}
.bevprodtitle>.bevprodtext{
    border:2px solid green;
    width:30%;
    text-align:center;
    background-color:#4F9C33
}
.beverages{
    display:flex;
    justify-content: center;
    padding-top:20px;
}
.beverages>.bevbody{
    position: relative;
    display:flex;
    justify-content:space-around;
    box-shadow:0px 0px 4px 3px grey;
    width:98%;
    height:400px;
    padding:20px 20px 20px 20px;
}
.beverages>.bevbody>.palmwine{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    background-color: #DAD5D5;
    align-items:center;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.beverages>.bevbody>.palmwine>.orderpw{
    width:60%;
    background-color:#4F9C33
}
.beverages>.bevbody>.muratina{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.beverages>.bevbody>.muratina>.ordermuratina{
    width:60%;
    background-color:#4F9C33;
}
.beverages>.bevbody>.madafu{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.beverages>.bevbody>.madafu>.ordermadafu{
    width:60%;
    background-color:#4F9C33;
}
.beverages>.bevbody>.mursik{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.beverages>.bevbody>.mursik>.ordermursik{
    width:60%;
    background-color:#4F9C33;
}
.vegetablestitle{
    display:flex;
    justify-content:center;
    padding-top:20px;
}
.vegetablestitle>.vegetablestext{
    border:2px solid green;
    width:30%;
    text-align:center;
    background-color:#4F9C33;
}
.vegetables{
    display:flex;
    justify-content: center;
    padding-top:20px;
}
.vegetables>.veggiebody{
    position: relative;
    display:flex;
    justify-content:space-around;
    box-shadow:0px 0px 4px 3px grey;
    width:98%;
    height:400px;
    padding:20px 20px 20px 20px;
}
.vegetables>.veggiebody>.kales{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.vegetables>.veggiebody>.kales>.orderkls{
    width:60%;
    background-color:#4F9C33;
}
.vegetables>.veggiebody>.tomatoes{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.vegetables>.veggiebody>.tomatoes>.ordertomatoes{
    width:60%;
    background-color:#4F9C33;
}
.vegetables>.veggiebody>.maize{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.vegetables>.veggiebody>.maize>.ordermaize{
    width:60%;
    background-color:#4F9C33;
}
.vegetables>.veggiebody>.cauliflower{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.vegetables>.veggiebody>.cauliflower>.ordercauliflower{
    width:60%;
    background-color:#4F9C33;
}
.animaltitle{
    display:flex;
    justify-content:center;
    padding-top:20px;
}
.animaltitle>.animaltext{
    border:2px solid green;
    width:30%;
    text-align:center;
    background-color:#4F9C33;
}
.animalproducts{
    display:flex;
    justify-content: center;
    padding-top:20px;
}
.animalproducts>.animalbody{
    position: relative;
    display:flex;
    justify-content:space-around;
    box-shadow:0px 0px 4px 3px grey;
    width:98%;
    height:400px;
    padding:20px 20px 20px 20px;
}
.animalproducts>.animalbody>.goatmeat{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.animalproducts>.animalbody>.goatmeat>.ordergoatmeat{
    width:60%;
    background-color:#4F9C33;
}
.animalproducts>.animalbody>.freshfish{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.animalproducts>.animalbody>.freshfish>.orderfreshfish{
    width:60%;
    background-color:#4F9C33;
}
.animalproducts>.animalbody>.rabbitmeat{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.animalproducts>.animalbody>.rabbitmeat>.orderrabbitmeat{
    width:60%;
    background-color:#4F9C33;
}
.animalproducts>.animalbody>.porkmeat{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:fit-content;
    align-items:center;
    background-color: #DAD5D5;
    box-shadow:0px 0px 4px 3px grey;
    padding:20px 20px 20px 20px;
}
.animalproducts>.animalbody>.porkmeat>.orderpork{
    width:60%;
    background-color:#4F9C33;
}
.deliverynotice{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.deliverynotice>.deliverybox{
    padding-top:20px;
    padding-bottom: 20px;
}
.deliverynotice>.deliverybox>.deliverytitle{
    border:2px solid green;
    width:570px;
    text-align:center;
    background-color:#4F9C33;
}
.deliverynotice>.disclaimer{
    font-size:x-large;
    position: relative;
    display:flex;
    justify-content:center;
    box-shadow:0px 0px 4px 3px grey;
    width:80%;
    height:fit-content;
    padding:20px 20px 20px 20px;
}
.non-perishables{
    padding-top:20px;
    text-align:center;
    align-items:center;
    display:flex;
    justify-content:center;
}
.non-perishables>.nonpergoodstitle{
    border:2px solid green;
    width:30%;
    text-align:center;
    background-color:#4F9C33;
}
.pricetable>.tablelist{
    display:flex;
    justify-content: center;
    text-align:center;
    padding-top:20px;
}
table{
    padding:20px 20px 20px 20px;
    border:2px solid blue;
    font-size:xx-large;
    width:70%;
    border-collapse:collapse;
}
th{
    padding:20px 20px 20px 20px;
    border:2px solid blue;
    border-collapse:collapse;
}
tr{
    padding:20px 20px 20px 20px;
    border:2px solid blue;
    border-collapse:collapse;
}
td{
    padding:10px;
    border:2px solid blue;
    border-collapse:collapse;
}
.vat{
    text-align:center;
    font-size:xx-large;
    color:#4F9C33;
    font-weight:bolder;
}
.footer{
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
}
.footer>.contactus{
    border:2px solid green;
    width:20%;
    text-align:center;
    background-color:#4F9C33;
    border-radius:50px;
    font-size:x-large;
}
.footer>.webright{
    height:160px;
    background-color: #F2F2F2;
    opacity:3;
    margin:30px;
    width:100%;
    box-shadow:0px 0px 4px 3px grey;
}
.footer>.webright>.website{
    padding:20px;
    margin:10px;
    font-size:xx-large;
}
.footer>.webright>.copyright{
    font-size:x-large;
}
em{
    font-style: normal;
    color:#4F9C33;
    font-weight:600px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:green; 
    cursor:pointer;  
}